.git
.github
vendor
node_modules
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/media
.env
.env.*
!.env.example
deploy/.env
*.log
.DS_Store
